In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlalchemy as sql

US outbreaks file Extraction and Transformation

In [2]:
outbreaks_file = "Resources/NationalOutbreakPublicDataTool.csv"
outbreaks_df = pd.read_csv(outbreaks_file)
len(outbreaks_df)

46024

In [3]:
# Clean up and transform outbreaks data
outbreaks_cols = ["Year", "Month", "State", "Primary Mode", "Etiology", "Animal Type"]
outbreaks_transformed = outbreaks_df[outbreaks_cols].copy()

In [4]:
outbreaks_transformed.dropna(inplace=True)
outbreaks_transformed.reset_index(drop=True, inplace=True)
outbreaks_transformed.head()

,Year,Month,State,Primary Mode,Etiology,Animal Type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats

In [5]:
outbreaks_transformed.rename(columns={"Year":"year",
                          "Month":'month',
                         "State":'state',
                          "Primary Mode":'mode', 
                           "Etiology":"etiology",
                            "Animal Type" : "animal_type"}, 
                             inplace=True)

outbreaks_transformed.head()

,year,month,state,mode,etiology,animal_type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats

In [6]:
outbreaks_transformed.rename(columns={"Mode": 'mode'},
                          
                             inplace=True)
outbreaks_transformed.head()

# outbreaks_transformed1= outbreaks_transformed.insert(0, 'id')

# outbreaks_transformed1

,year,month,state,mode,etiology,animal_type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats

In [ ]:
#df['index_col'] = df.index
#df['index_col'] = df.index


# outbreaks_transformed['id'] = outbreaks

# outbreaks_transformed.head()

outbreaks_transformed['id']= outbreaks_transformed.index

outbreaks_transformed

In [ ]:
#df['index_col'] = df.index


outbreaks_transformed['id'] = outbreaks_transformed.index

outbreaks_transformed.head()
# get a list of columns
cols = list(outbreaks_transformed1)
# move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('id')))
cols

Global outbreaks file extraction and transformation

In [ ]:
#read in file, set the index to the countries, to transform the data
burulicsv = "Resources/Global_Raw_CSV/buruli_ulcer.csv"
buruli_df = pd.read_csv(burulicsv)
buruli_df.set_index("Unnamed: 0", inplace=True)
buruli_df

In [ ]:
#transform the data
buruli_df=buruli_df.T

buruli_df

In [ ]:
#reset the index and clean up disease infection agent
buruli_df=buruli_df.reset_index()
buruli_df["index"] = buruli_df["index"].str.replace("Number of", "")
buruli_df["index"] = buruli_df["index"].str.split(".", n = 1, expand = True)[0]
buruli_df

In [ ]:
buruli_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)

In [ ]:
buruli_df

In [ ]:
buruli_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)

In [ ]:
buruli_df

In [ ]:
buruli_df.columns.names = ['']

In [ ]:
buruli_df

In [ ]:
buruli_df_clean = buruli_df.replace("No data", "NaN")

In [ ]:
buruli_df_clean

In [ ]:
rabiescsv = "Resources/Global_Raw_CSV/rabies.csv"
rabies_df = pd.read_csv(rabiescsv)
rabies_df.set_index("Unnamed: 0", inplace=True)
rabies_df

In [ ]:
rabies_df=rabies_df.T
rabies_df

In [ ]:
rabies_df=rabies_df.reset_index()
rabies_df["index"] = rabies_df["index"].str.replace("Reported number of ", "")
rabies_df["index"] = rabies_df["index"].str.split(".", n = 1, expand = True)[0]
rabies_df

In [ ]:
rabies_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
rabies_df

In [ ]:
rabies_df.columns.names = ['']
rabies_df

In [ ]:
rabies_df_clean = rabies_df.replace("No data", "NaN")
rabies_df_clean

In [ ]:
gambiensecsv = "Resources/Global_Raw_CSV/tb_gambiense.csv"
gambiense_df = pd.read_csv(gambiensecsv)
gambiense_df.set_index("Unnamed: 0", inplace=True)
gambiense_df

In [ ]:
gambiense_df=gambiense_df.T
gambiense_df

In [ ]:
gambiense_df=gambiense_df.reset_index()
gambiense_df["index"] = gambiense_df["index"].str.replace("Number of ", "").replace(" (T.b. gambiense)", "-Tb gambiense")
gambiense_df["index"] = gambiense_df["index"].str.split(".", n = 1, expand = True)[0]
gambiense_df

In [ ]:
gambiense_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
gambiense_df

In [ ]:
gambiense_df.columns.names = ['']
gambiense_df

In [ ]:
gambiense_df_clean = gambiense_df.replace("No data", "NaN")
gambiense_df_clean

In [ ]:
rhodesiensecsv = "Resources/Global_Raw_CSV/tb_rhodesiense.csv"
rhodesiense_df = pd.read_csv(rhodesiensecsv)
rhodesiense_df.set_index("Unnamed: 0", inplace=True)
rhodesiense_df

In [ ]:
rhodesiense_df=rhodesiense_df.T

rhodesiense_df

In [ ]:
rhodesiense_df=rhodesiense_df.reset_index()
rhodesiense_df["index"] = rhodesiense_df["index"].str.replace("Number of new reported cases of", "").replace(" (T.b. rhodesiense)", "-Tb rhodesiense")
rhodesiense_df["index"] = rhodesiense_df["index"].str.split(".", n = 1, expand = True)[0]
rhodesiense_df

In [ ]:
rhodesiense_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
rhodesiense_df

In [ ]:
rhodesiense_df.rename(columns={'index':'Infectious Disease', 'Country':'Year'},inplace=True)
rhodesiense_df

In [ ]:
rhodesiense_df.columns.names = ['']
rhodesiense_df

In [ ]:
rhodesiense_df_clean = buruli_df.replace("No data", "NaN")
rhodesiense_df_clean

In [288]:
global_clean =pd.concat([buruli_df_clean, rabies_df_clean, gambiense_df_clean, rhodesiense_df_clean], sort=False, ignore_index=True)
global_clean

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,human rabies deaths,2014,NaN,NaN,NaN,0,NaN,NaN,NaN,854,...,4,NaN,0,NaN,NaN,0,67,NaN,NaN,16
18,human rabies deaths,2013,NaN,NaN,NaN,4,NaN,NaN,NaN,1128,...,0,0,0,NaN,NaN,0,105,48,NaN,7
19,human rabies deaths,2012,NaN,NaN,NaN,5,NaN,NaN,NaN,1361,...,2,1,0,NaN,NaN,0,98,NaN,NaN,11
20,human rabies deaths,2011,NaN,0,NaN,3,NaN,NaN,NaN,1879,...,9,4,NaN,NaN,NaN,0,110,NaN,NaN,2
21,human rabies deaths,2010,NaN,0,NaN,1,NaN,NaN,NaN,2014,...,17,1,0,NaN,NaN,0,87,NaN,NaN,2
22,new reported cases of human African trypanosom...,2018,79,NaN,0,NaN,0,7,57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,new reported cases of human African trypanosom...,2017,18,NaN,0,NaN,0,5,76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,new reported cases of human African trypanosom...,2016,20,NaN,0,NaN,0,6,101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,new reported cases of human African trypanosom...,2015,35,NaN,0,NaN,1,6,147,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,new reported cases of human African trypanosom...,2014,36,NaN,0,NaN,0,7,194,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,new reported cases of human African trypanosom...,2013,69,NaN,0,NaN,0,6,59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,new reported cases of human African trypanosom...,2012,70,NaN,0,NaN,0,7,381,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,new reported cases of human African trypanosom...,2011,154,NaN,0,NaN,0,15,132,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,new reported cases of human African trypanosom...,2002,3621,NaN,0,NaN,0,32,572,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,new reported cases of human African trypanosom...,2001,4577,NaN,0,NaN,0,14,718,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,new reported cases of human African trypanosom...,2000,4546,NaN,0,NaN,0,27,988,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,new reported cases of human African trypanosom...,1999,5351,NaN,20,NaN,15,32,869,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,new reported cases of human African trypanosom...,1998,6610,NaN,0,NaN,15,54,1068,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,new reported cases of human African trypanosom...,1997,8275,NaN,0,NaN,1,10,730,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,new reported cases of human African trypanosom...,1996,6726,NaN,0,NaN,12,17,492,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,new reported cases of human African trypanosom...,1995,2441,NaN,0,NaN,13,21,676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,new reported cases of human African trypanosom...,1994,1274,NaN,0,NaN,18,20,368,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,new reported cases of human African trypanosom...,1993,1796,NaN,1,NaN,17,3,262,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,new reported cases of human African trypanosom...,1992,2406,NaN,2,NaN,20,21,362,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,new reported cases of human African trypanosom...,1991,2094,NaN,0,NaN,27,69,197,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,new reported cases of human African trypanosom...,1990,1498,NaN,0,NaN,27,86,308,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
global_clean.dropna(how='all', axis="columns", inplace=True)
global_clean

,Infectious Disease,Year,Angola,Australia,Benin,Brazil,Burkina Faso,Cameroon,Central African Republic,China,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,human rabies deaths,2014,NaN,NaN,NaN,0,NaN,NaN,NaN,854,...,4,NaN,0,NaN,NaN,0,67,NaN,NaN,16
18,human rabies deaths,2013,NaN,NaN,NaN,4,NaN,NaN,NaN,1128,...,0,0,0,NaN,NaN,0,105,48,NaN,7
19,human rabies deaths,2012,NaN,NaN,NaN,5,NaN,NaN,NaN,1361,...,2,1,0,NaN,NaN,0,98,NaN,NaN,11
20,human rabies deaths,2011,NaN,0,NaN,3,NaN,NaN,NaN,1879,...,9,4,NaN,NaN,NaN,0,110,NaN,NaN,2
21,human rabies deaths,2010,NaN,0,NaN,1,NaN,NaN,NaN,2014,...,17,1,0,NaN,NaN,0,87,NaN,NaN,2
22,new reported cases of human African trypanosom...,2018,79,NaN,0,NaN,0,7,57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,new reported cases of human African trypanosom...,2017,18,NaN,0,NaN,0,5,76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,new reported cases of human African trypanosom...,2016,20,NaN,0,NaN,0,6,101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,new reported cases of human African trypanosom...,2015,35,NaN,0,NaN,1,6,147,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,new reported cases of human African trypanosom...,2014,36,NaN,0,NaN,0,7,194,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,new reported cases of human African trypanosom...,2013,69,NaN,0,NaN,0,6,59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,new reported cases of human African trypanosom...,2012,70,NaN,0,NaN,0,7,381,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,new reported cases of human African trypanosom...,2011,154,NaN,0,NaN,0,15,132,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,new reported cases of human African trypanosom...,2002,3621,NaN,0,NaN,0,32,572,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,new reported cases of human African trypanosom...,2001,4577,NaN,0,NaN,0,14,718,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,new reported cases of human African trypanosom...,2000,4546,NaN,0,NaN,0,27,988,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,new reported cases of human African trypanosom...,1999,5351,NaN,20,NaN,15,32,869,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,new reported cases of human African trypanosom...,1998,6610,NaN,0,NaN,15,54,1068,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,new reported cases of human African trypanosom...,1997,8275,NaN,0,NaN,1,10,730,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,new reported cases of human African trypanosom...,1996,6726,NaN,0,NaN,12,17,492,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,new reported cases of human African trypanosom...,1995,2441,NaN,0,NaN,13,21,676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,new reported cases of human African trypanosom...,1994,1274,NaN,0,NaN,18,20,368,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,new reported cases of human African trypanosom...,1993,1796,NaN,1,NaN,17,3,262,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,new reported cases of human African trypanosom...,1992,2406,NaN,2,NaN,20,21,362,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,new reported cases of human African trypanosom...,1991,2094,NaN,0,NaN,27,69,197,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,new reported cases of human African trypanosom...,1990,1498,NaN,0,NaN,27,86,308,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,new reported cases of Buruli ulcer,2018,NaN,358,219,NaN,NaN,155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,new reported cases of Buruli ulcer,2017,NaN,292,267,NaN,NaN,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,new reported cases of Buruli ulcer,2016,NaN,186,312,NaN,NaN,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,new reported cases of Buruli ulcer,2015,NaN,111,311,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,new reported cases of Buruli ulcer,2014,NaN,89,330,NaN,NaN,126,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,new reported cases of Buruli ulcer,2013,NaN,74,378,NaN,NaN,133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,new reported cases of Buruli ulcer,2012,NaN,105,365,NaN,NaN,160,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,new reported cases of Buruli ulcer,2011,NaN,143,492,NaN,NaN,256,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,new reported cases of Buruli ulcer,2010,NaN,42,572,NaN,NaN,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,new reported cases of Buruli ulcer,2009,NaN,35,674,NaN,NaN,323,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,new reported cases of Buruli ulcer,2008,NaN,40,897,NaN,NaN,312,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,new reported cases of Buruli ulcer,2007,NaN,61,1203,NaN,NaN,230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,new reported cases of Buruli ulcer,2006,NaN,72,1195,NaN,NaN,271,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,new reported cases of Buruli ulcer,2005,NaN,47,1045,NaN,NaN,265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,new reported cases of Buruli ulcer,2004,NaN,34,925,NaN,NaN,914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,new reported cases of Buruli ulcer,2003,NaN,14,722,NaN,NaN,223,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,new reported cases of Buruli ulcer,2002,NaN,32,565,NaN,NaN,132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# us outbreaks

In [291]:
# new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
# new_customer_location_df.head()

outbreaks_transformed= pd. DataFrame (outbreaks_transformed
# outbreaks_transformed
# # df.reset_index()

# outbreaks_transformed = [["id", "year", "State", "Mode", "Etiology", "animal_type"]]
type(outbreaks_transformed)

SyntaxError: invalid syntax (<ipython-input-291-7e1895a6c7fe>, line 9)

# global outbreaks

In [297]:
Infect_d = pd.melt(global_clean, id_vars=["Infectious Disease", "Year"])

Infect_d

Infect_d.dropna(how='all', axis="rows", inplace=True)
Infect_d.head()

                    Infectious Disease   Year variable value
0   new reported cases of Buruli ulcer   2018   Angola   NaN
1   new reported cases of Buruli ulcer   2017   Angola   NaN
2   new reported cases of Buruli ulcer   2016   Angola   NaN
3   new reported cases of Buruli ulcer   2015   Angola   NaN
4   new reported cases of Buruli ulcer   2014   Angola   NaN

In [301]:
Infect_d.rename(columns={'variable':'Country', 'Infectious Disease':'Infectious_Disease'},                       
                             inplace=True)
Infect_d.head()

                    Infectious_Disease   Year Country value
0   new reported cases of Buruli ulcer   2018  Angola   NaN
1   new reported cases of Buruli ulcer   2017  Angola   NaN
2   new reported cases of Buruli ulcer   2016  Angola   NaN
3   new reported cases of Buruli ulcer   2015  Angola   NaN
4   new reported cases of Buruli ulcer   2014  Angola   NaN

In [302]:

Infect_d.rename(columns={'value': 'Number_cases'},
                          
                             inplace=True)
Infect_d.head()

                    Infectious_Disease   Year Country Number_cases
0   new reported cases of Buruli ulcer   2018  Angola          NaN
1   new reported cases of Buruli ulcer   2017  Angola          NaN
2   new reported cases of Buruli ulcer   2016  Angola          NaN
3   new reported cases of Buruli ulcer   2015  Angola          NaN
4   new reported cases of Buruli ulcer   2014  Angola          NaN

In [303]:
DF = Infect_d[["Year",  "Country", "Number_cases", "Infectious_Disease"]]
DF.head()

    Year Country Number_cases                   Infectious_Disease
0   2018  Angola          NaN   new reported cases of Buruli ulcer
1   2017  Angola          NaN   new reported cases of Buruli ulcer
2   2016  Angola          NaN   new reported cases of Buruli ulcer
3   2015  Angola          NaN   new reported cases of Buruli ulcer
4   2014  Angola          NaN   new reported cases of Buruli ulcer

In [304]:
#Final global outbreak table


Worldwide_Outbreaks= DF.sort_values(["Year"], ascending = True)
Worldwide_Outbreaks

,Year,Country,Number_cases,Infectious_Disease
6595,2002,India,NaN,new reported cases of Buruli ulcer
4487,2002,Croatia,NaN,new reported cases of Buruli ulcer
4504,2002,Cuba,NaN,new reported cases of Buruli ulcer
4555,2002,Cuba,NaN,new reported cases of Buruli ulcer
4572,2002,Cyprus,NaN,new reported cases of Buruli ulcer
4623,2002,Cyprus,NaN,new reported cases of Buruli ulcer
4640,2002,Czechia,NaN,new reported cases of Buruli ulcer
4691,2002,Czechia,NaN,new reported cases of Buruli ulcer
4708,2002,Democratic People's Republic of Korea,NaN,new reported cases of Buruli ulcer
4759,2002,Democratic People's Republic of Korea,NaN,new reported cases of Buruli ulcer
4776,2002,Denmark,NaN,new reported cases of Buruli ulcer
4827,2002,Denmark,NaN,new reported cases of Buruli ulcer
4844,2002,Djibouti,NaN,new reported cases of Buruli ulcer
4895,2002,Djibouti,NaN,new reported cases of Buruli ulcer
4912,2002,Dominica,NaN,new reported cases of Buruli ulcer
4963,2002,Dominica,NaN,new reported cases of Buruli ulcer
4980,2002,Dominican Republic,NaN,new reported cases of Buruli ulcer
5031,2002,Dominican Republic,NaN,new reported cases of Buruli ulcer
5048,2002,Ecuador,NaN,new reported cases of Buruli ulcer
5099,2002,Ecuador,NaN,new reported cases of Buruli ulcer
4436,2002,Croatia,NaN,new reported cases of Buruli ulcer
4419,2002,Costa Rica,NaN,new reported cases of Buruli ulcer
4368,2002,Costa Rica,NaN,new reported cases of Buruli ulcer
4351,2002,Cook Islands,NaN,new reported cases of Buruli ulcer
3671,2002,Brunei Darussalam,NaN,new reported cases of Buruli ulcer
3688,2002,Bulgaria,NaN,new reported cases of Buruli ulcer
3739,2002,Bulgaria,NaN,new reported cases of Buruli ulcer
3756,2002,Burundi,NaN,new reported cases of Buruli ulcer
3807,2002,Burundi,NaN,new reported cases of Buruli ulcer
3824,2002,Cabo Verde,NaN,new reported cases of Buruli ulcer
...,...,...,...,...
2742,2018,Austria,NaN,new reported cases of human African trypanosom...
5938,2018,Greece,NaN,new reported cases of human African trypanosom...
8386,2018,Mongolia,NaN,new reported cases of human African trypanosom...
10698,2018,Saudi Arabia,NaN,new reported cases of human African trypanosom...
3830,2018,Cabo Verde,NaN,new reported cases of human African trypanosom...
8658,2018,Myanmar,NaN,new reported cases of human African trypanosom...
4714,2018,Democratic People's Republic of Korea,NaN,new reported cases of human African trypanosom...
7706,2018,Luxembourg,NaN,new reported cases of human African trypanosom...
12738,2018,Uzbekistan,NaN,new reported cases of human African trypanosom...
8522,2018,Morocco,NaN,new reported cases of human African trypanosom...
2470,2018,Andorra,NaN,new reported cases of human African trypanosom...
7366,2018,Latvia,NaN,new reported cases of human African trypanosom...
12534,2018,United Republic of Tanzania,NaN,new reported cases of human African trypanosom...
2606,2018,Argentina,NaN,new reported cases of human African trypanosom...
5598,2018,Finland,NaN,new reported cases of human African trypanosom...
8454,2018,Montenegro,NaN,new reported cases of human African trypanosom...
10018,2018,Republic of Moldova,NaN,new reported cases of human African trypanosom...
974,2018,Guinea,74,new reported cases of human African trypanosom...
5258,2018,Eritrea,NaN,new reported cases of human African trypanosom...
4578,2018,Cyprus,NaN,new reported cases of human African trypanosom...
7910,2018,Mali,0,new reported cases of human African trypanosom...
8930,2018,Netherlands,NaN,new reported cases of human African trypanosom...
4102,2018,Chile,NaN,new reported cases of human African trypanosom...
1518,2018,Mexico,NaN,new reported cases of human African trypanosom...
2334,2018,Albania,NaN,new reported cases of human African trypanosom...
4170,2018,Colombia,NaN,new reported cases of human African trypanosom...
2810,2018,Azerbaijan,NaN,new reported cases of human African trypanosom...
4646,2018,Czechia,NaN,new reported cases of human African trypanosom...
1790,2018,Senegal,NaN,new reported cases of human African trypanosom...
10494,2018,Samoa,NaN,new reported cases of human African trypanosom...

In [305]:

Worldwide_Outbreaks.to_csv("Worldwide_Oubreaks_etl.csv")

In [360]:
rds_connection_string = "postgres:data@localhost:5432/Zoonotics_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [361]:
engine.table_names()

['global_outbreaks', 'us_outbreaks']

In [359]:


outbreaks_transformed.rename(columns={"Mode": 'mode'},
                          
                             inplace=True)
outbreaks_transformed.head()

,year,month,state,mode,etiology,animal_type
0,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats

In [363]:


outbreaks_transformed.insert(0, 'New_ID', range(46024, 46024 + len(outbreaks_transformed)))
outbreaks_transformed

,New_ID,year,month,state,mode,etiology,animal_type
0,46024,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,46025,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,46026,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,46027,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,46028,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats
5,46029,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Sheep or goats
6,46030,2009,3,Oregon,Animal Contact,Salmonella enterica,Baby chick or duckling
7,46031,2009,5,Idaho,Animal Contact,Campylobacter jejuni,Cat or kitten
8,46032,2009,8,Minnesota,Animal Contact,Cryptosporidium parvum,Cattle
9,46033,2009,6,Virginia,Animal Contact,Salmonella enterica,Turtle
10,46034,2009,2,Wyoming,Animal Contact,Salmonella enterica,"Lizard; Turtle; Bird, not including poultry; O..."
11,46035,2009,8,Minnesota,Animal Contact,"Escherichia coli, Shiga toxin-producing",Cattle
12,46036,2009,6,Oregon,Animal Contact,Salmonella enterica,Other reptile; Other small mammalian household...
13,46037,2009,6,Oregon,Animal Contact,Salmonella enterica,Baby chick or duckling
14,46038,2009,9,Pennsylvania,Animal Contact,Campylobacter jejuni,Cattle
15,46039,2009,1,Colorado,Animal Contact,"Escherichia coli, Shiga toxin-producing",Cattle
16,46040,2009,3,Colorado,Animal Contact,Salmonella enterica,Baby chick or duckling
17,46041,2010,1,Maine,Animal Contact,Cryptosporidium,Sheep or goats; Sheep or goats; Dog or Puppy; ...
18,46042,2010,2,New Hampshire,Animal Contact,Campylobacter unknown; Giardia duodenalis,Cattle
19,46043,2010,3,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
20,46044,2010,4,Minnesota,Animal Contact,Cryptosporidium parvum,Cattle
21,46045,2009,3,Wyoming,Animal Contact,Salmonella enterica,Other small mammalian household pet; Other sma...
22,46046,2010,4,Missouri,Animal Contact,Salmonella enterica,Pet fish
23,46047,2010,8,Wisconsin,Animal Contact,"Escherichia coli, Shiga toxin-producing",Cattle; Sheep or goats
24,46048,2010,2,Washington,Animal Contact,Salmonella enterica,Baby chick or duckling
25,46049,2010,8,Minnesota,Animal Contact,Campylobacter jejuni,Other poultry
26,46050,2010,10,Oklahoma,Animal Contact,"Escherichia coli, Shiga toxin-producing",Sheep or goats; Sheep or goats; Sheep or goats
27,46051,2010,11,South Dakota,Animal Contact,Salmonella enterica,Other poultry
28,46052,2009,2,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
29,46053,2009,5,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
...,...,...,...,...,...,...,...
287,46311,2017,6,Multistate,Animal Contact,Salmonella enterica; Salmonella enterica,Other reptile
288,46312,2017,7,Pennsylvania,Animal Contact,Cryptosporidium parvum,Sheep or goats
289,46313,2017,3,Nebraska,Animal Contact,"Escherichia coli, Shiga toxin-producing",Cattle
290,46314,2017,5,Nebraska,Animal Contact,Cryptosporidium parvum,Cattle
291,46315,2017,9,Idaho,Animal Contact,Cryptosporidium unknown,Cattle
292,46316,2017,2,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
293,46317,2017,1,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
294,46318,2017,2,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
295,46319,2017,3,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
296,46320,2017,3,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
297,46321,2017,4,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
298,46322,2017,1,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
299,46323,2017,3,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
300,46324,2017,2,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
301,46325,2017,10,Massachusetts,Animal Contact,Cryptosporidium,Cattle
302,46326,2017,1,New Hampshire,Animal Contact,Salmonella enterica,Turtle
303,46327,2013,10,Illinois,Animal Contact,Cryptosporidium,Cattle
304,46328,2017,3,Maine,Animal Contact,Cryptosporidium parvum,Cattle
305,46329,2014,11,New Hampshire,Animal Contact,Cryptosporidium unknown,Cattle
306,46330,2017,3,Multistate,Animal Contact,Salmonella enterica,Turtle
307,46331,2017,7,Colorado,Animal Contact,"Escherichia coli, Shiga toxin-producing; Esche...",Pig; Other (specify); Sheep or goats
308,46332,2017,11,Idaho,Animal Contact,Campylobacter unknown,Dog or Puppy
309,46333,2017,2,Multistate,Animal Contact,Salmonella enterica,Baby chick or duckling
310,46334,2017,11,New Hampshire,Animal Contact,Cryptosporidium unknown,Cattle
311,46335,2017,8,Idaho,Animal Contact,Salmonella enterica,Cattle
312,46336,2017,5,Idaho,Animal Contact,"Escherichia coli, Shiga toxin-producing",Cattle
313,46337,2016,6,Multistate,Animal Contact,Campylobacter jejuni,Dog or Puppy
314,46338,2017,6,Idaho,Animal Contact,Campylobacter,Baby chick or duckling
315,46339,2017,5,Idaho,Animal Contact,Campylobacter,Sheep or goats
316,46340,2015,7,Multistate,Animal Contact,Salmonella enterica,Other small mammalian household pet

# Use pandas to load csv converted DataFrame into database

In [362]:
outbreaks_transformed.to_sql(name='us_outbreaks', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "id" violates not-null constraint
DETAIL:  Failing row contains (null, 2009, 1, Ohio, Animal Contact, Cryptosporidium unknown, Cattle).

[SQL: INSERT INTO us_outbreaks (year, month, state, mode, etiology, animal_type) VALUES (%(year)s, %(month)s, %(state)s, %(mode)s, %(etiology)s, %(animal_type)s)]
[parameters: ({'year': 2009, 'month': 1, 'state': 'Ohio', 'mode': 'Animal Contact', 'etiology': 'Cryptosporidium unknown', 'animal_type': 'Cattle'}, {'year': 2009, 'month': 3, 'state': 'Montana', 'mode': 'Animal Contact', 'etiology': 'Cryptosporidium unknown', 'animal_type': 'Sheep or goats'}, {'year': 2009, 'month': 4, 'state': 'Ohio', 'mode': 'Animal Contact', 'etiology': 'Salmonella enterica', 'animal_type': 'Pet fish'}, {'year': 2009, 'month': 5, 'state': 'Ohio', 'mode': 'Animal Contact', 'etiology': 'Cryptosporidium unknown', 'animal_type': 'Cattle'}, {'year': 2009, 'month': 5, 'state': 'Iowa', 'mode': 'Animal Contact', 'etiology': 'Cryptosporidium unknown', 'animal_type': 'Sheep or goats'}, {'year': 2009, 'month': 5, 'state': 'Ohio', 'mode': 'Animal Contact', 'etiology': 'Cryptosporidium unknown', 'animal_type': 'Sheep or goats'}, {'year': 2009, 'month': 3, 'state': 'Oregon', 'mode': 'Animal Contact', 'etiology': 'Salmonella enterica', 'animal_type': 'Baby chick or duckling'}, {'year': 2009, 'month': 5, 'state': 'Idaho', 'mode': 'Animal Contact', 'etiology': 'Campylobacter jejuni', 'animal_type': 'Cat or kitten'}  ... displaying 10 of 317 total bound parameter sets ...  {'year': 2017, 'month': 5, 'state': 'Idaho', 'mode': 'Animal Contact', 'etiology': 'Campylobacter', 'animal_type': 'Sheep or goats'}, {'year': 2015, 'month': 7, 'state': 'Multistate', 'mode': 'Animal Contact', 'etiology': 'Salmonella enterica', 'animal_type': 'Other small mammalian household pet'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [342]:
Worldwide_Outbreaks.to_sql(name='global_outbreaks', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Year" of relation "global_outbreaks" does not exist
LINE 1: INSERT INTO global_outbreaks ("Year", "Country", "Number_cas...
                                      ^

[SQL: INSERT INTO global_outbreaks ("Year", "Country", "Number_cases", "Infectious_Disease") VALUES (%(Year)s, %(Country)s, %(Number_cases)s, %(Infectious_Disease)s)]
[parameters: ({'Year': ' 2002', 'Country': 'India', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Croatia', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cuba', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cuba', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cyprus', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Cyprus', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Czechia', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}, {'Year': ' 2002', 'Country': 'Czechia', 'Number_cases': None, 'Infectious_Disease': ' new reported cases of Buruli ulcer'}  ... displaying 10 of 13192 total bound parameter sets ...  {'Year': '2018', 'Country': 'Senegal', 'Number_cases': 'NaN', 'Infectious_Disease': 'new reported cases of human African trypanosomiasis (T'}, {'Year': '2018', 'Country': 'Samoa', 'Number_cases': None, 'Infectious_Disease': 'new reported cases of human African trypanosomiasis (T'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
checking#pd.read_sql_query('select * from customer_name', con=engine).head()

In [341]:
pd.read_sql_query('select * from us_outbreaks', con=engine).head()

,New_ID,ID,year,month,state,mode,etiology,animal_type
0,46024,46024,2009,1,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
1,46025,46025,2009,3,Montana,Animal Contact,Cryptosporidium unknown,Sheep or goats
2,46026,46026,2009,4,Ohio,Animal Contact,Salmonella enterica,Pet fish
3,46027,46027,2009,5,Ohio,Animal Contact,Cryptosporidium unknown,Cattle
4,46028,46028,2009,5,Iowa,Animal Contact,Cryptosporidium unknown,Sheep or goats